.elem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.5s ease-out;
}

.text-div {
  height: 16vh;
  position: relative;
  z-index: 9;
  overflow: hidden;
}

.elem h1 {
  font-family: Ultra;
  font-size: 7.5vw; /* Adjust for responsive scaling */
  font-weight: 10;
  transition: all ease-out 0.5s;
}

.elem:hover h1 {
  transform: translateY(-100%);
  color: #edbfff;
}


  .NEW {
    background-color: #EFE3C2;
    height: 90vh;
    width: 90vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Makes sure children (h2 and h3) are stacked vertically */
    justify-content: flex-start; /* Aligns content to the top */
    align-items: center; /* Centers horizontally */
    padding-top: 7vh; /* Adds spacing between the container edge and the content */
  }
  .New {
    background-color: rgb(0, 0, 0);
    height: 90vh;
    width: 90vw;
  }
  .yes {
    font-family: Ultra;
    font-weight: 50;
  }
  p {
    color: rgb(54, 5, 5);
  }
  .no {
    font-family: Oleo Script ;
  }