/* Loader.css */
#loader {
    height: 100%;
    width: 100%;
    background-color:hsla(173,77%,83%,1);
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 1802 1802' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),radial-gradient(circle at 5% 1%, hsla(250,76%,61%,1) 7%,transparent 84%),radial-gradient(circle at 7% 81%, hsla(184,91%,91%,1) 16%,transparent 53%),radial-gradient(circle at 11% 29%, hsla(213,97%,75%,1) 8%,transparent 74%),radial-gradient(circle at 39% 52%, hsla(149,93%,64%,1) 6%,transparent 68%),radial-gradient(circle at 90% 50%, hsla(118,94%,89%,1) 2%,transparent 85%);background-blend-mode:overlay,normal,normal,normal,normal,normal;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #loader h1 {
    font-weight: 800;
    font-size: 4vw;
    color: black;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-timing-function:  ease-in-out;
  }
  
  #loader h1:nth-child(2) {
    animation-delay: 1.2s;
  }
  
  #loader h1:nth-child(3) {
    animation-delay: 2.2s;
  }
  
  @keyframes load {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @media (max-width: 600px) {
    #loader h1 {
      font-size: 9vw;
    }
  }